body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header p {
    font-size: 18px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

nav {
    background: #77aaff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.section {
    padding: 20px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.section h2 {
    color: #333;
    margin-bottom: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.icon {
    width: 16px;  /* Adjust the size to fit the text */
    height: 16px;
    vertical-align: text-bottom;  /* Align the icon with the text */
    margin-right: 5px;
}

a {
    color: #007bff;  /* Bright blue color */
    text-decoration: none;  /* Removes underline */
}

a:hover {
    color: #0056b3;  /* Darker blue on hover */
    text-decoration: underline;  /* Underline on hover */
}

.publication {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.paper-img {
    width: 150px;  /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.paper-details {
    max-width: 800px;  /* Adjust based on your design */
}

.paper-details h3 {
    margin: 0 0 10px 0;
}

.paper-details p {
    margin: 5px 0;
}

.paper-details a {
    color: #007bff;
    text-decoration: none;
}

.paper-details a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.paper-details p {
    margin: 5px 0;
}

.paper-details p strong {
    color: #333;
}

.paper-details a {
    color: #007bff;
    text-decoration: none;
}

.paper-details a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.paper-img {
    width: 300px;  /* Increase the width */
    height: auto;  /* Maintain aspect ratio */
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}